<div  class="card text-center">
    <div class="card-body">
    <h1 class="card-title">Bienvenidos al chat</h1>
     <label for="title" class="card-text">Escribí tu mensaje</label>
    <input id="chat-box" type="text">
    <button id="botonChat" type="button" class="btn btn-primary">Enviar</button>
    </div>
    <div class="container-mensajes">
     <p  class="card-text" id="parrafosMensajes"></p>   
    </div>
</div>
