<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-5 bg-black text-white rounded">
            <div class="card-header text-center pt-5">
                <h1 class="h4 text-white">
                    Account Login
                </h1>
            </div>
            <div class="card-body">
                <form id="singInForm" class="form" action="/api/session/login" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Password</label>
                        <input type="password" id="inputPassword5" class="form-control"
                            placeholder="complete your password" aria-describedby="passwordHelpBlock" name="password"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <p class="text-center">Dont you have an Account? <a href="/static/register" class="text-info">Sign Up</a>
            </p>
        </div>
    </div>
</div>