<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-5 bg-black text-white rounded">
            <div class="card-header text-center pt-5">
                <h1 class="h4 text-white">
                    SIGN UP
                </h1>
            </div>
            <div class="card-body">

                <form id="loginForm" class="form" method="POST" action="/users/register">
                    <div class="mb-3">
                        <label for="first_name">Complete your First name</label>
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                            name="first_name" required>
                    </div>

                    <div class="mb-3">
                        <label for="lastname">Complete your Last name</label>
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                            name="lastname" required>
                    </div>

                    <div class="mb-3">
                        <label for="age">Complete your Age</label>
                        <input type="number" class="form-control" placeholder="Age" aria-label="Age" name="age"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Password</label>
                        <input type="password" id="inputPassword5" class="form-control"
                            aria-describedby="passwordHelpBlock" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <p class="text-center">Do you have an Account? <a href="/static/signin" class="text-info">Sing In</a></p>
        </div>
    </div>
</div>