<footer class="bg-neutral-200 text-center dark:bg-slate-700 lg:text-left">
    <div class="p-4 text-center text-slate-700 dark:text-slate-200">
        © 2023 Copyright:
        <a class="text-slate-800 dark:text-slate-400" href="">
            Curso Backend
        </a>
    </div>
</footer>